p {
  margin-bottom: 0;
}
.collapsible-product {
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  font-weight: unset;
  outline: none;
  font-size: 110%;
  text-transform: unset;
  color: black;
  border-top: 1px solid #ddd;
  margin: unset;
}
.collapsible-product i {
  font-size: 1.8em;
  margin-right: 15px;
}
.product-page-accordian .active {
  font-weight: bold;
  border-top: 1px solid #ddd;
  border-color: #0082c8;
  background-color: rgba(0, 0, 0, 0.03);
}
.content-collapsible-product {
  display: none;
  overflow: hidden;
}

.icon-angle-down {
  transition: all 0.5s;
}
.col-inner-news {
  cursor: pointer;
}
.flickity-viewport {
  overflow: visible;
}
.row-box-shadow-1 .col-inner {
  box-shadow: unset;
  border: 1px solid rgb(221, 221, 221);
  min-height: 330px;
}
.product_list_widget li {
  cursor: pointer;
}
.product_list_widget .product-title {
  color: #0082c8;
}
.product_list_widget .product-title:hover {
  color: black;
}
.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 200px;
  height: 200px;
}
.zoom-popup {
  background: rgba(0, 0, 0, 0.6);
  z-index: 1111;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zoom-popup img {
  width: 40%;
}
.close-zoom {
  right: 0;
  position: fixed;
  margin: 20px 30px 0 0;
  z-index: 111111;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  top: 0;
}
.close-zoom::before {
  content: '\2715';
}
.font-bold {
  font-weight: bold;
}
.mb-20 {
  margin-bottom: 30px;
}
.my-15 {
  margin: 0 15px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.slider-style-container .flickity-slider > *:not(.is-selected) {
  opacity: 1;
}

.flickity-prev-next-button {
  z-index: 1;
  opacity: 1 !important;
  fill: #0082c8 !important;
  color: #0082c8 !important;
}
.flickity-button-icon {
  fill: #0082c8 !important;
}
svg > .arrow {
  fill: #0082c8 !important;
}
.cursor-pointer {
  cursor: pointer;
}
.contact-product {
  background-color: rgba(0, 0, 0, 0.03);
}
.contact-product-col {
  background-color: unset !important;
}
.start-review {
  line-height: 15px;
}
.start-review a:after {
  color: #0082c8 !important;
}
.star-selected:after {
  color: #0082c8 !important;
}
.visable-button {
  color: white !important;
  background-color: #0082c8 !important;
}
.disable-button {
  cursor: not-allowed !important;
  color: white !important;
  background-color: gray !important;
}
.error {
  color: rgb(255, 166, 166);
  margin: 10px 0px !important;
  text-align: left;
  font-weight: bold;
}
.loadmore-button:hover {
  color: #0082c8 !important;
}
.row-box-shadow-1 .col-inner {
  border: none !important;
}
.product-small,
.col-inner {
  height: 100% !important;
}
.phone-icon {
  top: 85% !important;
}
.phone-icon2 {
  top: 77% !important;
}
.mess-icon {
  top: 67% !important;
}
#col-13678866 {
  margin-top: 20px;
}
#col-1756564835 {
  padding-bottom: 0 !important;
}
@media screen and (max-width: 768px) {
  .mess-icon {
    top: 64% !important;
  }
  .phone-icon {
    top: 85% !important;
  }
  .phone-icon2 {
    top: 76% !important;
  }
}
a.phone-icon .suntory-alo-ph-img-circle {
  width: 180px !important;
  animation: none !important;
  border-radius: 0 100px 100px 0 !important;
  height: 50px !important;
  left: 5px !important;
  display: flex !important;
  align-items: center;
  justify-items: center;
  color: white;
  padding-left: 10px;
  font-weight: bold;
  background-color: orange;
  background-image: url(../public/icons/phone.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 138px;
  background-position-y: 7px;
  animation: 1s ease-in-out;
}
a.phone-icon .suntory-alo-ph-circle-fill {
  width: 150px !important;
  animation: none !important;
  border-radius: 0 100px 100px 0 !important;
  height: 50px !important;
  left: 5px !important;
}
